<div class="card col-md-6 mt-0 bg-transparent rounded border-transparent text-centered" style="margin-left: 600px">
    <h3 class="card-header text-primary">Become a member.</h3>
    <div class="card-body d-flex form-create-form" id="form-create-form">
    <label for="email-login">email:</label>
    <input type="text" class="form-control me-2" placeholder="Email" id="email-login"/>
    <label for="password-login">password:</label>
    <input type="text" class="form-control me-2" placeholder="Password" id="password-login"/>
    <button type="submit" class="btn btn-primary" id ="create-button">Join</button>
    </div>
</div>

<script src="/js/create.js"></script>
