<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DEAR Reader</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../public/css/style.css"/> 
  </head>
  </div>
  <body>
    <header class="d-inline-block w-100">
      <div class="jumbotron jumbotron-fluid text-center text-white">
        <h2>    </h2>
        <h1>                               DEAR Reader</h1>
        <h2 style="color: blue; text-shadow: 1px 1px white">Drop Everything and Read</h2>
        <h4>Share thoughts about your favorite books</h4>
        <h4>and find new ones to enjoy.</h2>
      </div>
    {{#if logged_in}}
    <div class="card col-md-6 mb-0 bg-transparent rounded border-transparent text-centered" style="margin-left: 600px">
        <!--card has picture which is blank, text,  and input form.-->
        <h3 class="card-header text-white">Login to the community.</h3>
        <div class="card-body d-flex form-login-form" id="login-form">
            <label for="email-login">email:</label>
            <input type="text" class="form-control me-2" placeholder="Username" id="email-login"/>
            <div class="form-group"></div>
            <label for="password-login">password:</label>
            <input type="password" class="form-input" placeholder="Password" id="password-login"/>
            <button type="submit" class="btn btn-primary" id="login-button">Login</button>
          </div>
        </div>
    <nav>
      <button class="btn btn-primary" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
<main class="container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="DEAR-Reader/public/js/logout.js"></script>
  {{/if}}
</body>

</html>
      {{!-- <div class="card col-md-6 mb-0 bg-transparent rounded border-transparent text-centered" style="margin-left: 600px">
        <!--card has picture which is blank, text,  and input form.-->
        <h3 class="card-header text-white">Login to the community.</h3>
        <div class="card-body d-flex form-login-form" id="login-form">
            <label for="email-login">email:</label>
            <input type="text" class="form-control me-2" placeholder="Username" id="email-login"/>
            <div class="form-group"></div>
            <label for="password-login">password:</label>
            <input type="password" class="form-input" placeholder="Password" id="password-login"/>
            <button type="submit" class="btn btn-primary" id="login-button">Login</button>
          </div>
        </div> --}}


{{!-- <!--copied from miniprojectMVC-->
 <div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}

        <script src="../../public/js/login.js"></script>
