 <!-- Needs to be second page on site ? -->
 
<class="container-fluid text-center"> 
      <div class="card menu-card col-l-10 bg-transparent rounded border-transparent text-centered" style="margin-left: 600px">
        <h3 class="card-header text-white">Show book reviews.</h3>
        <div class="card-body" id="searchBook">
          <div form class="d-flex">
            <input type="text" class="form-control me-2" placeholder="Book Title" id="bookId"/>
            <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
          </div>
        </div>
        </div>
            <div class="card  menu-card col-1-10 mt-0 bg-transparent rounded border-transparent text-centered" style="margin-left: 600px">
                <h3 class="card-header text-white">Enter your review.</h3>
                <div class="card-body" id="addComment">
                  <div form class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Book Title" id="bookId"/>
                    <input type="text" class="form-control me-2" placeholder="Review" id="Comments"/>
                    <input type="number" class="form-control me-2" placeholder="1-5 Stars" id="synopsis"/>
                    <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                  </div>
                </div>
                </div>
                <div class="card  menu-card col-1-10 mt-0 bg-transparent rounded border-transparent text-centered" style="margin-left: 600px">
                  <h3 class="card-header text-white">Update your previous review.</h3>
                  <div class="card-body" id="updateComment">
                    <div form class="d-flex">
                      <input type="text" class="form-control me-2" placeholder="Book Title" id="bookId"/>
                      <input type="text" class="form-control me-2" placeholder="Review" id="Comments"/>
                      <input type="number" class="form-control me-2" placeholder="1-5 Stars" id="synopsis"/>
                      <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
                    </div>
                  </div>
                  </div>

        <script src="../public/js/homepage.js"></script>
        <script src="DEAR-Reader/public/js/homepage.js"></script>
