body{


    background-image: url('homepageimage.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;


    font-family: 'Garamond' , serif;
  }
.jumbotron {
height: 100px;
}

.card {

  margin-top: 225px;

}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}